.button {
	padding: 5px 10px;
	border: none;
	border-radius: var(--line-radius);
	color: var(--color-primary);
	background: var(--color-main);
	font-size: var(--font-size-s);
	cursor: pointer;
}

.button:hover {
	opacity: var(--hover-feedback-opacity);
	transition: var(--animation-transition);
}

.button:disabled {
	background: var(--color-gray);
}
