/* date painter picker */
.date-painter-picker-root {
	position: absolute;
	z-index: 50;
}

/* calendar root */
.date-painter-root {
	min-width: 240px;
	width: 280px;
	display: inline-flex;
	flex-direction: column;
	padding: 16px;
	border-radius: 8px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

/* calendar header*/
.calendar-header {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}

.calendar-header-arrow {
	display: flex;
}

.arrow-button {
	display: inline-flex;
	padding: 0;
	background: transparent;
	border: none;
	cursor: pointer;
}

.arrow-button:hover {
	opacity: 0.7;
	transition: 0.3s;
}

.next-button {
	margin-left: 8px;
}

.previous-arrow,
.next-arrow {
	width: 24px;
	height: 24px;
}

.previous-arrow {
	transform: rotate(180deg);
}

.current-month {
	font-size: 16px;
	font-weight: 700;
}

/* calendar day of week */
.calendar-day-week {
	width: 100%;
	margin-top: 20px;
	display: flex;
}

.day-week-txt {
	width: calc(100% / 7);
	color: #a1a1a1;
	text-align: center;
}

/* calendar body */
.calendar-body {
	display: flex;
	flex-wrap: wrap;
}

.date-rect-pack {
	width: calc(100% / 7);
	margin: 10px 0 0;
	text-align: center;
}

.date-button {
	min-width: 28px;
	min-height: 28px;
	padding: 0;
	border: none;
	background: transparent;
	cursor: pointer;
}

.date-button:hover {
	border-radius: 50%;
	background: #ececec;
}

.date-txt {
	display: block;
	padding: 5px;
	font-size: 16px;
}

.diff-month {
	color: #a1a1a1;
}

.saturday {
	color: #0097e6;
}

.sunday {
	color: #c23616;
}

.today {
	border-radius: 50%;
	color: #ffffff;
	background: #0097e6;
}

.holiday {
	position: relative;
}

.holiday::before {
	content: '';
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #ec7f66;
}

.selected {
	border-radius: 50%;
	background: #96dcff;
}
